@font-face {
  font-family: "oltana-icons";
  src: url("oltana-icons.woff?c16tcv") format("woff"), url("oltana-icons.svg?c16tcv#oltana-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=oltana-icon-],
[class*=" oltana-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "oltana-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.oltana-icon-linkedin-in:before {
  content: "\e94a";
}
.oltana-icon-facebook:before {
  content: "\e94e";
}
.oltana-icon-line:before {
  content: "\e94f";
}
.oltana-icon-line1:before {
  content: "\e951";
}
.oltana-icon-instagram:before {
  content: "\e952";
}
.oltana-icon-x:before {
  content: "\e953";
}
.oltana-icon-base:before {
  content: "\e954";
}
.oltana-icon-arrow_down_light:before {
  content: "\e96a";
}
.oltana-icon-arrow_down:before {
  content: "\e994";
}
.oltana-icon-arrow_down_bold:before {
  content: "\e989";
}
.oltana-icon-arrow_left_light:before {
  content: "\e968";
}
.oltana-icon-arrow_left:before {
  content: "\e949";
}
.oltana-icon-arrow_left_bold:before {
  content: "\e957";
}
.oltana-icon-arrow_right_light:before {
  content: "\e95d";
}
.oltana-icon-arrow_right:before {
  content: "\e94d";
}
.oltana-icon-arrow_right_bold:before {
  content: "\e96f";
}
.oltana-icon-arrow_up_light:before {
  content: "\e95a";
}
.oltana-icon-arrow_up:before {
  content: "\e977";
}
.oltana-icon-arrow_up_bold:before {
  content: "\e973";
}
.oltana-icon-more_outline:before {
  content: "\e97e";
}
.oltana-icon-slash_outline:before {
  content: "\e984";
}
.oltana-icon-circle-solid:before {
  content: "\e900";
}
.oltana-icon-circle_outline:before {
  content: "\e96c";
}
.oltana-icon-cross_outline:before {
  content: "\e96e";
}
.oltana-icon-copy_outline:before {
  content: "\e96d";
}
.oltana-icon-check_outline:before {
  content: "\e969";
}
.oltana-icon-check_circle_outline:before {
  content: "\e967";
}
.oltana-icon-check_solid:before {
  content: "\e96b";
}
.oltana-icon-target_blank1_outline:before {
  content: "\e995";
}
.oltana-icon-target_blank2_outline:before {
  content: "\e996";
}
.oltana-icon-download_outline:before {
  content: "\e970";
}
.oltana-icon-calendar_outline:before {
  content: "\e959";
}
.oltana-icon-campaign1_outline:before {
  content: "\e95f";
}
.oltana-icon-bag_outline:before {
  content: "\e960";
}
.oltana-icon-callcenter_solid:before {
  content: "\e961";
}
.oltana-icon-campaign2_outline:before {
  content: "\e962";
}
.oltana-icon-campaign2_solid:before {
  content: "\e963";
}
.oltana-icon-cart_outline:before {
  content: "\e964";
}
.oltana-icon-cart_solid:before {
  content: "\e965";
}
.oltana-icon-callcenter_outline:before {
  content: "\e966";
}
.oltana-icon-good_outline:before {
  content: "\e971";
}
.oltana-icon-good_solid:before {
  content: "\e972";
}
.oltana-icon-heart_outline:before {
  content: "\e974";
}
.oltana-icon-heart_solid:before {
  content: "\e975";
}
.oltana-icon-mail_open_outline:before {
  content: "\e976";
}
.oltana-icon-mail_outline:before {
  content: "\e978";
}
.oltana-icon-mail_solid:before {
  content: "\e979";
}
.oltana-icon-map_outline:before {
  content: "\e97a";
}
.oltana-icon-map_solid:before {
  content: "\e97b";
}
.oltana-icon-memo_outline:before {
  content: "\e97c";
}
.oltana-icon-phone_outline:before {
  content: "\e97f";
}
.oltana-icon-phone_solid:before {
  content: "\e980";
}
.oltana-icon-receiver_outline:before {
  content: "\e982";
}
.oltana-icon-receiver_solid:before {
  content: "\e983";
}
.oltana-icon-star_outline:before {
  content: "\e985";
}
.oltana-icon-star_solid:before {
  content: "\e986";
}
.oltana-icon-store_outline:before {
  content: "\e987";
}
