@font-face {
  font-family: "oltana-icons";
  src: url("oltana-icons.woff?drg54") format("woff"), url("oltana-icons.svg?c16tcv#oltana-icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=oltana-icon-],
[class*=" oltana-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "oltana-icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.oltana-icon-medical71:before {
  content: "\e903";
}
.oltana-icon-medical70:before {
  content: "\e904";
}
.oltana-icon-medical69:before {
  content: "\e905";
}
.oltana-icon-medical68:before {
  content: "\e908";
}
.oltana-icon-medical67:before {
  content: "\e909";
}
.oltana-icon-medical66:before {
  content: "\e90a";
}
.oltana-icon-medical65:before {
  content: "\e90b";
}
.oltana-icon-medical64:before {
  content: "\e90c";
}
.oltana-icon-medical63:before {
  content: "\e90d";
}
.oltana-icon-medical62:before {
  content: "\e90e";
}
.oltana-icon-medical61:before {
  content: "\e910";
}
.oltana-icon-medical60:before {
  content: "\e911";
}
.oltana-icon-medical59:before {
  content: "\e912";
}
.oltana-icon-medical58:before {
  content: "\e913";
}
.oltana-icon-medical57:before {
  content: "\e915";
}
.oltana-icon-medical56:before {
  content: "\e916";
}
.oltana-icon-medical55:before {
  content: "\e917";
}
.oltana-icon-medical54:before {
  content: "\e918";
}
.oltana-icon-medical53:before {
  content: "\e919";
}
.oltana-icon-medical52:before {
  content: "\e91a";
}
.oltana-icon-medical51:before {
  content: "\e91c";
}
.oltana-icon-medical50:before {
  content: "\e91d";
}
.oltana-icon-medical49:before {
  content: "\e91e";
}
.oltana-icon-medical48:before {
  content: "\e91f";
}
.oltana-icon-medical47:before {
  content: "\e920";
}
.oltana-icon-medical46:before {
  content: "\e921";
}
.oltana-icon-medical45:before {
  content: "\e922";
}
.oltana-icon-medical44:before {
  content: "\e923";
}
.oltana-icon-medical43:before {
  content: "\e924";
}
.oltana-icon-medical42:before {
  content: "\e925";
}
.oltana-icon-medical41:before {
  content: "\e926";
}
.oltana-icon-medical40:before {
  content: "\e927";
}
.oltana-icon-medical39:before {
  content: "\e928";
}
.oltana-icon-medical38:before {
  content: "\e929";
}
.oltana-icon-medical37:before {
  content: "\e92a";
}
.oltana-icon-medical36:before {
  content: "\e92b";
}
.oltana-icon-medical35:before {
  content: "\e92c";
}
.oltana-icon-medical34:before {
  content: "\e92d";
}
.oltana-icon-medical33:before {
  content: "\e92e";
}
.oltana-icon-medical32:before {
  content: "\e92f";
}
.oltana-icon-medical31:before {
  content: "\e930";
}
.oltana-icon-medical30:before {
  content: "\e931";
}
.oltana-icon-medical29:before {
  content: "\e932";
}
.oltana-icon-medical28:before {
  content: "\e933";
}
.oltana-icon-medical27:before {
  content: "\e935";
}
.oltana-icon-medical26:before {
  content: "\e937";
}
.oltana-icon-medical25:before {
  content: "\e938";
}
.oltana-icon-medical24:before {
  content: "\e939";
}
.oltana-icon-medical23:before {
  content: "\e93a";
}
.oltana-icon-medical22:before {
  content: "\e93b";
}
.oltana-icon-medical21:before {
  content: "\e93c";
}
.oltana-icon-medical20:before {
  content: "\e93d";
}
.oltana-icon-medical19:before {
  content: "\e93e";
}
.oltana-icon-medical18:before {
  content: "\e93f";
}
.oltana-icon-medical17:before {
  content: "\e940";
}
.oltana-icon-medical16:before {
  content: "\e941";
}
.oltana-icon-medical15:before {
  content: "\e942";
}
.oltana-icon-medical14:before {
  content: "\e943";
}
.oltana-icon-medical13:before {
  content: "\e944";
}
.oltana-icon-medical12:before {
  content: "\e946";
}
.oltana-icon-medical11:before {
  content: "\e947";
}
.oltana-icon-medical10:before {
  content: "\e948";
}
.oltana-icon-medical9:before {
  content: "\e94b";
}
.oltana-icon-medical8:before {
  content: "\e94c";
}
.oltana-icon-medical7:before {
  content: "\e950";
}
.oltana-icon-medical6:before {
  content: "\e955";
}
.oltana-icon-medical5:before {
  content: "\e956";
}
.oltana-icon-medical4:before {
  content: "\e958";
}
.oltana-icon-medical3:before {
  content: "\e95b";
}
.oltana-icon-medical2:before {
  content: "\e95c";
}
.oltana-icon-medical1:before {
  content: "\e95e";
}
.oltana-icon-profession27:before {
  content: "\e97d";
}
.oltana-icon-profession26:before {
  content: "\e981";
}
.oltana-icon-profession25:before {
  content: "\e988";
}
.oltana-icon-profession24:before {
  content: "\e98a";
}
.oltana-icon-profession23:before {
  content: "\e98b";
}
.oltana-icon-profession22:before {
  content: "\e98c";
}
.oltana-icon-profession21:before {
  content: "\e98d";
}
.oltana-icon-profession20:before {
  content: "\e98e";
}
.oltana-icon-profession19:before {
  content: "\e98f";
}
.oltana-icon-profession18:before {
  content: "\e990";
}
.oltana-icon-profession17:before {
  content: "\e991";
}
.oltana-icon-profession16:before {
  content: "\e992";
}
.oltana-icon-profession15:before {
  content: "\e993";
}
.oltana-icon-profession14:before {
  content: "\e997";
}
.oltana-icon-profession13:before {
  content: "\e998";
}
.oltana-icon-profession12:before {
  content: "\e999";
}
.oltana-icon-profession11:before {
  content: "\e99a";
}
.oltana-icon-profession10:before {
  content: "\e99b";
}
.oltana-icon-profession9:before {
  content: "\e99c";
}
.oltana-icon-profession8:before {
  content: "\e99d";
}
.oltana-icon-social-worker4:before {
  content: "\e99e";
}
.oltana-icon-profession7:before {
  content: "\e99f";
}
.oltana-icon-profession6:before {
  content: "\e9a0";
}
.oltana-icon-profession5:before {
  content: "\e9a1";
}
.oltana-icon-profession4:before {
  content: "\e9a2";
}
.oltana-icon-profession3:before {
  content: "\e9a3";
}
.oltana-icon-profession2:before {
  content: "\e9a4";
}
.oltana-icon-profession1:before {
  content: "\e9a5";
}
.oltana-icon-search:before {
  content: "\e906";
}
.oltana-icon-copyright:before {
  content: "\e902";
}
.oltana-icon-youtube:before {
  content: "\e901";
}
.oltana-icon-linkedin-in:before {
  content: "\e94a";
}
.oltana-icon-facebook:before {
  content: "\e94e";
}
.oltana-icon-line:before {
  content: "\e94f";
}
.oltana-icon-line1:before {
  content: "\e951";
}
.oltana-icon-instagram:before {
  content: "\e952";
}
.oltana-icon-x:before {
  content: "\e953";
}
.oltana-icon-base:before {
  content: "\e954";
}
.oltana-icon-arrow_down_light:before {
  content: "\e96a";
}
.oltana-icon-arrow_down:before {
  content: "\e994";
}
.oltana-icon-arrow_down_bold:before {
  content: "\e989";
}
.oltana-icon-arrow_left_light:before {
  content: "\e968";
}
.oltana-icon-arrow_left:before {
  content: "\e949";
}
.oltana-icon-arrow_left_bold:before {
  content: "\e957";
}
.oltana-icon-arrow_right_light:before {
  content: "\e95d";
}
.oltana-icon-arrow_right:before {
  content: "\e94d";
}
.oltana-icon-arrow_right_bold:before {
  content: "\e96f";
}
.oltana-icon-arrow_up_light:before {
  content: "\e95a";
}
.oltana-icon-arrow_up:before {
  content: "\e977";
}
.oltana-icon-arrow_up_bold:before {
  content: "\e973";
}
.oltana-icon-more_outline:before {
  content: "\e97e";
}
.oltana-icon-slash_outline:before {
  content: "\e984";
}
.oltana-icon-circle_solid:before {
  content: "\e900";
}
.oltana-icon-circle_outline:before {
  content: "\e96c";
}
.oltana-icon-cross_outline:before {
  content: "\e96e";
}
.oltana-icon-copy_outline:before {
  content: "\e96d";
}
.oltana-icon-check_outline:before {
  content: "\e969";
}
.oltana-icon-check_circle_outline:before {
  content: "\e967";
}
.oltana-icon-check_solid:before {
  content: "\e96b";
}
.oltana-icon-target_blank1_outline:before {
  content: "\e995";
}
.oltana-icon-target_blank2_outline:before {
  content: "\e996";
}
.oltana-icon-download_outline:before {
  content: "\e970";
}
.oltana-icon-calendar_outline:before {
  content: "\e959";
}
.oltana-icon-campaign1_outline:before {
  content: "\e95f";
}
.oltana-icon-bag_outline:before {
  content: "\e960";
}
.oltana-icon-callcenter_solid:before {
  content: "\e961";
}
.oltana-icon-campaign2_outline:before {
  content: "\e962";
}
.oltana-icon-campaign2_solid:before {
  content: "\e963";
}
.oltana-icon-cart_outline:before {
  content: "\e964";
}
.oltana-icon-cart_solid:before {
  content: "\e965";
}
.oltana-icon-callcenter_outline:before {
  content: "\e966";
}
.oltana-icon-good_outline:before {
  content: "\e971";
}
.oltana-icon-good_solid:before {
  content: "\e972";
}
.oltana-icon-heart_outline:before {
  content: "\e974";
}
.oltana-icon-heart_solid:before {
  content: "\e975";
}
.oltana-icon-mail_open_outline:before {
  content: "\e976";
}
.oltana-icon-mail_outline:before {
  content: "\e978";
}
.oltana-icon-mail_solid:before {
  content: "\e979";
}
.oltana-icon-map_outline:before {
  content: "\e97a";
}
.oltana-icon-map_solid:before {
  content: "\e97b";
}
.oltana-icon-memo_outline:before {
  content: "\e97c";
}
.oltana-icon-phone_outline:before {
  content: "\e97f";
}
.oltana-icon-phone_solid:before {
  content: "\e980";
}
.oltana-icon-receiver_outline:before {
  content: "\e982";
}
.oltana-icon-receiver_solid:before {
  content: "\e983";
}
.oltana-icon-star_outline:before {
  content: "\e985";
}
.oltana-icon-star_solid:before {
  content: "\e986";
}
.oltana-icon-store_outline:before {
  content: "\e987";
}
